<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    {{>header}}
    
    <img src="../public/img/ph.jpg">
    <p>Created by {{name}}</p>
</body>

</html>